<div class="container" layout="row" layout-align="space-between stretch">
    <users-list flex="noshrink"></users-list>
    <md-content class="chat-content" flex="70">
        <div class="container-logo" ng-if="vm.showLogo">
            <div class="logo">
            </div>
        </div>
        <div class="message-container" ng-if="!vm.showLogo" layout="column" layout-align="end stretch">
            <div flex class="message-box" scroll-glue="{vm.scroll}">
                <md-list>
                    <section class="container-more-message" layout="row" layout-sm="column" layout-align="center center"
                             layout-wrap>
                        <md-button md-no-ink class="md-primary" ng-click="vm.loadMoreMessage()">Load more</md-button>
                    </section>
                    <md-list-item class="md-2-line list-messages" ng-repeat="message in vm.messages">
                        <messages></messages>
                    </md-list-item>
                </md-list>
            </div>
            <div class="new-message-box">
                <form name="userForm">
                    <section layout="row" layout-xs="column" layout-align="center end" layout-wrap>
                        <div class="container-2">
                            <input id="new-message"  ng-model="vm.newMessage"
                                   ng-enter="vm.sentMessage()" ng-model="vm.newMessage">
                        </div>
                        <md-button class="sent-btn md-raised" ng-click="vm.sentMessage()"><md-icon> trending_flat</md-icon></md-button>
                    </section>
                </form>
            </div>
        </div>
    </md-content>
</div>
