.container-main {
    background: #EBEBEB;
    color: #777;
}

/*Search input*/
.container-1 {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    background: transparent;
}

.container-1 input#search {
    margin: 10px;
    width: calc(100% - 67px);
    height: 30px;
    background: #fff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #777;
    padding-left: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}

.container-1 .icon {
    position: absolute;
    top: 15px;
    left: 17px;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #BBB;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #BBB;
}

.container-1 input#search::-moz-placeholder { /* Firefox 19+ */
    color: #BBB;
}

.container-1 input#search:-ms-input-placeholder {
    color: #BBB;
}

/* End Search input*/

.btn-selected {
    outline: none;
    margin: 0 10px 10px 10px;
    width: calc(100% - 25px);
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
}
.box{
    border-bottom: 1px solid #ccc;
}

/*Chat left menu selected user*/
.selectedIndex {
    background: #ccc;
}

.container-user {
    height: 50px;
    background: #EBEBEB;
}

.users-container {
    height: calc(100vh - 115px);
    overflow-y: auto;
    background: #EBEBEB;
    color: #444;
}

.users-container h6 {
    margin: 0;
    font-size: 14px;
}

.users-container md-list-item {
    margin: 0 10px;
    border-radius: 5px;
}
.users-container md-list-item:hover{
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    background: #BEC3C7 !important;
}
/*Костыль, пететираем стандартный стиль материала*/
.users-container > .md-button.md-default-theme:not([disabled]).md-focused, .md-button:not([disabled]).md-focused, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: transparent;
}

    /*Скролбар*/
.users-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
}

.users-container::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.users-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

/*end Скролбар*/

/*Статусы пользователей */
.user-status {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

/*в сети*/
.active-status {
    background: #00C853;
}

/*нет на месте*/
.not-here-status {
    background: #ffea00;
}

/*Не активен*/
.not-active {
    background: #ff3d00;
}

.login-container {
    max-width: 500px;
    margin: auto;
}

/*количество онлайн*/
.helper {
    width: 100%;
    font-size: 12px;
    height: 20px;
    padding: 4px 20px 0 15px;
    background: #dddddd;
}

.totalUsers {
    text-align: right;
}

.green option,
.yellow option,
.red option {
    background: #fff;
    color: #444444;
}

.green option:hover,
.yellow option:hover,
.red option:hover {
    background: #ccc;
}

.helper {
    min-width: 170px;
}

/* -------------------- Colors: Background */
/*.green   { background-color: #8EFF82; }*/
/*.yellow  { background-color: #FFFF74; }*/
/*.red   { background-color: #FF714A; }*/

.itemUser {
    background: rgba(202, 225, 68, 0.3);
}







